@import url("https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css");

body {
    background-color: #111110;
    text-align: center;
    color: white;
	 font-family: 'Iosevka Web';
}

h1, h2, h3, h4, h5 {
    color: #C597DB;
}

a {
    text-decoration: none;
    color: #C597DB;
}

.pfp {
    border-radius: 10px;
}

ul {
    list-style-type: none;
}
