body {
    text-align: center;
    background-color: rgb(38, 38, 38);
    /* color: rgb(151, 143, 115); */
    color: rgb(79, 159, 135);
    font-family: 'FantasqueSansMonoRegular';
    font-weight: normal;
    font-style: normal; 
}
p {
    color: rgb(160, 226, 150);
}
a {
    text-decoration: none;
    color: rgb(99, 164, 224);
}
footer {
    bottom: 0; 
    position: absolute; 
    right: 0; 
    left: 0;
}
.download {
    border: none;
    height: 200;
    width: 240;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(30, 30, 30);
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
}