@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    --background-color: #111111; 
    --foreground-color: rgb(255, 255, 255);
    --shadow-color: rgb(0, 0, 0);
    --link-color: #0096a7;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 2rem;

    padding-top: 2%;
}

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    float: left;

    background-color: var(--background-color);

    border-radius: 5px;

    border-style: solid;
    border-width: 2px;
    border-color: #4CAE4F;

    margin: 2%;

    filter: drop-shadow(0px 10px 30px var(--shadow-color));
}

.navbar a {
    float: left;
    display: block;
    color: var(--link-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

main {
    padding: 40px;
    color: var(--primary-color);
}

hr {
    border-top: 8px solid var(--foreground-color);
    width: 20%;
    max-width: 100%;
    margin: 0;
    border-radius: 5px;
}

p {
    font-size: 18px;
}

.pfp {
    border-radius: 50%;
    width: 10%;

}

a {
    text-decoration: none;
    color: var(--link-color);
}