/*
 * Fonts
 */

@font-face {
    font-family: "Adwaita Mono";
    src: url("fonts/AdwaitaMonoNerdFont-Regular.ttf");
}

@font-face {
    font-family: "Adwaita Mono Bold";
    src: url("fonts/AdwaitaMonoNerdFont-Bold.ttf");
}

body {
    font-family: "Adwaita Mono";
    color: #e5e5e5;
    background-color: #121212;
}

h1 {
    font-family: "Adwaita Mono Bold";
}

a {
    text-decoration: none;
    color: rgb(191, 54, 54);
    font-weight: bolder;
}

.pfp {
    border-radius: 100px;
}

.dim {
    color: #535353;
}